# Jupyter Notebook for SQL Query Problem

# Problem Description
Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

**Return the result table in any order.**

## Example 1:

### Input: 

**Transactions**
| id   | country | state    | amount | trans_date |
|------|---------|----------|--------|------------|
| 121  | US      | approved | 1000   | 2018-12-18 |
| 122  | US      | declined | 2000   | 2018-12-19 |
| 123  | US      | approved | 2000   | 2019-01-01 |
| 124  | DE      | approved | 2000   | 2019-01-07 |

### Output: 

| month    | country | trans_count | approved_count | trans_total_amount | approved_total_amount |
|----------|---------|-------------|----------------|--------------------|-----------------------|
| 2018-12  | US      | 2           | 1              | 3000               | 1000                  |
| 2019-01  | US      | 1           | 1              | 2000               | 2000                  |
| 2019-01  | DE      | 1           | 1              | 2000               | 2000                  |

# Intuition
My initial thought was to approach this problem by analyzing the structure of the data provided. Since we are dealing with transaction data, grouping by month and country makes sense to summarize transactions in a meaningful way. The use of `SUBSTR` to extract the month from the date string was intuitive because it allows us to categorize transactions by time period without needing to convert the string to a date object, which might not be supported in all SQL environments or might complicate the query unnecessarily.

# Approach
To solve this problem, I decided to:
1. **Extract the Month**: Use `SUBSTR` to extract the first 7 characters of the `trans_date` which gives us the format 'YYYY-MM'. This effectively groups transactions by month within the year.
2. **Group By**: Group the results by the extracted month (`month`) and `country` to get the desired aggregation.
3. **Count Transactions**: Use `COUNT(country)` to count the number of transactions per group.
4. **Count Approved Transactions**: Use a `CASE` statement within `SUM` to count only the transactions where the state is 'approved'.
5. **Sum Transaction Amounts**: Add `SUM(amount)` to calculate the total amount of transactions and use another `CASE` statement to sum only the amounts of approved transactions.

This approach ensures we get a summary of transactions by month and country, including both total transactions and specifically approved transactions.

# Complexity
- **Time complexity**: $$O(n \log n)$$
  - Here, \( n \) is the number of rows in the `Transactions` table. The time complexity is due to the grouping operation which typically involves sorting in SQL, hence the \( O(n \log n) \) due to sorting.

- **Space complexity**: $$O(n)$$
  - The space complexity would be proportional to the number of unique groups (month-country combinations), which in the worst case could be as many as the number of rows if each transaction was in a unique month-country combination. However, typically it would be much less, but for analysis purposes, we consider the worst case.

# Code
```sql
# Write your MySQL query statement below
SELECT
    SUBSTR(trans_date, 1, 7) AS month,
    country,
    COUNT(id) AS trans_count,
    SUM(CASE WHEN state='approved' THEN 1 ELSE 0 END) AS approved_count,
    SUM(amount) AS trans_total_amount,
    SUM(CASE WHEN state='approved' THEN amount ELSE 0 END) AS approved_total_amount
FROM
    Transactions
GROUP BY
    month,
    country;