# SQL Query to Show Product Sales Details

## Problem Statement

Write a solution to show the product name, year, and price for each sale.

Return the result table in any order.

### Example

**Input:**  
Sales table:
```sql
+---------+------------+------+----------+-------+
| sale_id | product_id | year | quantity | price |
+---------+------------+------+----------+-------+
| 1       | 100        | 2008 | 10       | 5000  |
| 2       | 100        | 2009 | 12       | 5000  |
| 7       | 200        | 2011 | 15       | 9000  |
+---------+------------+------+----------+-------+
Product table:
sql
+------------+--------------+
| product_id | product_name |
+------------+--------------+
| 100        | Nokia        |
| 200        | Apple        |
| 300        | Samsung      |
+------------+--------------+

Output:  
sql
+--------------+-------+-------+
| product_name | year  | price |
+--------------+-------+-------+
| Nokia        | 2008  | 5000  |
| Nokia        | 2009  | 5000  |
| Apple        | 2011  | 9000  |
+--------------+-------+-------+
Explanation:  
From sale_id = 1, we can conclude that Nokia was sold for 5000 in the year 2008.
From sale_id = 2, we can conclude that Nokia was sold for 5000 in the year 2009.
From sale_id = 7, we can conclude that Apple was sold for 9000 in the year 2011.

Intuition
The task involves linking each sale from the Sales table with its corresponding product name from the Product table. We need to ensure that every sale is included with its product name along with the year and price.

Approach

SELECT 
    p.product_name AS product_name, 
    s.year AS year, 
    s.price AS price
FROM 
    Sales s
JOIN 
    Product p ON s.product_id = p.product_id;

Explanation:
Select: We select product_name from Product, year, and price from Sales. This matches each sale's product_id with its name, year, and price.
Join: Using an INNER JOIN, we ensure that only sales with matching products are included in the result. This assumes all product_ids in Sales have a counterpart in Product.

Complexity Analysis
Time Complexity:The complexity is roughly O(S log(P)) with indexed product_id, where S is the number of sales and P is the number of products. Without indexing, it might approach O(S Ã— P).

Space Complexity:The space complexity is O(S) for the output, assuming each sale row is represented once. Temporary space for the join operation could vary but typically won't exceed the size of the larger table.