# Problem Statement

Write a solution to find all dates' id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

The result format is in the following example.

## Example 1:

### Input: 

**Weather**
| id | recordDate | temperature |
|----|------------|-------------|
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |

### Output: 

| id |
|----|
| 2  |
| 4  |

# Intuition
<!-- Describe your first thoughts on how to solve this problem. -->
The key here is to compare each day's temperature with the temperature recorded the previous day. Since SQL doesn't allow direct row-to-row comparisons without additional logic, I thought of using a self-join or subquery to match each day with the day before it.

# Approach
<!-- Describe your approach to solving the problem. -->
- Use a self-join on the `Weather` table to pair each day with the previous day.
- Compare the temperature of the current day (`w1`) with the previous day (`w2`).
- Use `DATE_ADD` to ensure we're comparing consecutive days.

# Complexity
- **Time complexity**: 
  - O(n log n) in the worst case where n is the number of records due to the join operation. However, with an index on `recordDate`, this might approach O(n) in practice.

- **Space complexity**: 
  - O(n) for the temporary result set during the join, though with efficient indexing, this could be mostly disk-based rather than in-memory.

# Code
```mysql
SELECT 
    w1.id AS id
FROM 
    Weather w1
JOIN 
    Weather w2 ON w1.recordDate = DATE_ADD(w2.recordDate, INTERVAL 1 DAY)
WHERE 
    w1.temperature > w2.temperature;