# Project Description

Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return `null` (return `None` in Pandas).

## Example

### Input:
**Employee table:**
| id | salary |
|----|--------|
| 1  | 100    |
| 2  | 200    |
| 3  | 300    |

### Output:
| SecondHighestSalary |
|----------------------|
| 200                  |

### Input:
**Employee table:**
| id | salary |
|----|--------|
| 1  | 100    |

### Output:
| SecondHighestSalary |
|----------------------|
| null                 |

# Intuition
The goal is to find the second highest distinct salary from the Employees table. If there's no second highest salary, we should return `null` to indicate this. Here's the thought process:

- **Distinct Salaries**: We need to ensure we only consider unique salary values since multiple employees might have the same salary.
- **Sorting**: By sorting salaries in descending order, we can easily pick the second highest salary.
- **Selection**: Use `LIMIT` and `OFFSET` to directly access the second highest salary in the sorted list. If there's less than two distinct salaries, we'll return `null`.

# Approach

1. **Remove Duplicates**: Use `DISTINCT` to consider only unique salary values.
2. **Sort Salaries**: Sort salaries in descending order to find the highest to lowest salaries.
3. **Select Second Highest**: Use `LIMIT 1 OFFSET 1` to select the second highest salary. If there isn't a second salary, this query will return nothing, which we handle by using a subquery to return `null` if no result is found.

# Complexity

- **Time Complexity**: O(NlogN) due to the sorting operation where N is the number of employees.
- **Space Complexity**: O(1) as we're not storing additional data structures beyond the query execution.

# Code

```sql
SELECT 
    (SELECT DISTINCT salary 
     FROM Employee
     ORDER BY salary DESC
     LIMIT 1 OFFSET 1) AS SecondHighestSalary;

# Other approaches that work but are less efficient and more complicated.
```sql
WITH RankedSalaries AS (
    SELECT
        salary AS SndHSalary,
        ROW_NUMBER() OVER (ORDER BY salary DESC) AS rn
    FROM
        Employees
)
SELECT COALESCE(
    (SELECT SndHSalary FROM RankedSalaries WHERE rn = 2),
    NULL
) AS SecondHighestSalary;

```

# This one uses WHERE salary < (SELECT MAX(salary) FROM Employees)
```sql
SELECT COALESCE(
    (SELECT salary
     FROM Employees
     WHERE salary < (SELECT MAX(salary) FROM Employees)
     LIMIT 1 OFFSET 1),
    NULL
) AS SecondHighestSalary;